spring:
  datasource:
    url: jdbc:mysql://localhost:3306/admission_crm
    username: root
    password: pass@123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # For development only
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

  sql:
    init:
      mode: never

  management:
    endpoints:
      web:
        exposure:
          include: health
    endpoint:
      health:
        show-details: always
        show-components: always

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE